.dev-mode-badge {
  transform: rotate(320deg);
  position: absolute;
  top: -18%;
  left: -2%;
  font-size: 1rem;
  background-color: rgb(255, 0, 60);
  text-align: center;
  padding: 0 8px;
  min-width: 140px;
  color: #fff;
}