/* Variables */
$primary-color: #00a9e0;
$primary-color-dark: #008bb8;
$primary-color-light: #26bff0;
$primary-color-highlight: #7ad7f5;
$secondary-color: #005f7a;
$secondary-color-dark: #00475b;
$secondary-color-light: #c7eefb;
$tertiary-color: #0077a3;
$tertiary-color-dark: #005e80;
$text-color: #333333;
$text-color-light: #8e8e8e;
$black: #000000;
$white: #ffffff;
$grey-white: #f5f9fb;

*,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  line-height: 1.5;
  text-decoration: none;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  color: $primary-color-dark;
  text-decoration: underline;
}

section {
  padding: 8.75rem 0;
  // border-top: 1px solid #ced4da;
  // border-bottom: 1px solid #ced4da;
  @media (max-width: 1139px) {
    padding: 4.375rem 0;
  }

  .section-title {
    h1 {
      font-size: 1.25rem;
      font-weight: 600;
      letter-spacing: 0.8px;
    }
  }
}

.normal-sm {
  font-size: 0.875rem;
}
.normal-lg {
  font-size: 1.25rem;
}

.display {
  font-size: 3.0463rem;
  line-height: 1.25;
}

h1 {
  font-size: 2.4375rem;
  line-height: 1.25;
  margin: 0;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.25;
  margin: 0;
}

h3 {
  font-size: 1.9375rem;
  line-height: 1.25;
  margin: 0;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 600;
  margin: 0;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.25;
  font-weight: 600;
  margin: 0;
}

.dash {
  max-width: 42px;
  height: 1px;
  background-color: $black;
  margin: 2rem 0;
}

.black-op-1 {
  background-color: $black;
  width: 100%;
  min-height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.box-container {
  padding: 3rem 1.5rem;
  @media (max-width: 1139px) {
    .content.pe-5 {
        padding-right: 0 !important;
    }
    h1 {
        font-size: 2rem !important;
    }
}
}

// bootstrap classes override
.bg-primary {
  background-color: $primary-color !important;
}

.bg-secondary {
  background-color: $secondary-color !important;
}

.bg-secondary-light {
  background-color: $secondary-color-light !important;
}

.color-primary {
  color: $primary-color !important;
}

.color-primary-dark {
  color: $primary-color-dark !important;
}

.color-secondary {
  color: $secondary-color !important;
}

.offset-container{
  margin-top: -350px;
  .professional-contact-form {
    border-radius: 1rem;
    .card-body {
      padding: 3rem;
    }
  }
}

.breadcrumb {
  a {
    color: $white;
  }
  a:hover {
    color: $white;
    text-decoration: underline;
  }
}

.slate-editor-box {
  min-height: 500px;
  border: 1px solid $text-color-light;
  padding: 1rem;

  li, ol, ul {
    margin-left: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}

// make container bigger in 1920x1080 screen
@media (min-width: 1800px) {
  html {
    font-size: 1.125rem;
  }
  .container {
    max-width: 1600px;
  }
}

@media (max-width:1440px) {
  html {
    font-size: 0.85rem;
  }
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .container {
    padding: 0 1rem;
  }

  .offset-container {
    margin-top: 0 !important;
  }
  
}
