@use "globals" as *;
.hero-swiper {
    position: relative;
    height: 80vh;
    max-height: 80vh;
    color: $white;
    overflow: hidden;
    .hero-slide {
        height: 100%; /* Adjust based on design */
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .hero-image-wrapper {
        position: absolute;
        top: 0;
        left: 60%;
        width: 100%;
        height: 100%;
        transform: translateX(-50%);
        overflow: hidden;
          z-index: -2;
        .hero-image {

          object-fit: cover;
        }
      }

  
      .display {
        font-size: 4rem;
        font-weight: 600;
        padding-bottom: 1rem;
      }
  
      .normal-lg {
        padding-bottom: 2rem;
      }
  
      .btn-sakchha-outline {
        color: $white;
        border: 1px solid $white;
        &:hover {
          background-color: $white;
          color: $black;
        }
      }
    }
  
    .swiper-pagination-bullet {
      background-color: white;
      opacity: 0.7;
    }
  
    .swiper-pagination-bullet-active {
      background-color: #fff;
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      color: white;
    }

    @media (max-width: 768px) {
      height: 400px;
      .hero-slide {
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.4) 34.5%, #000 71%) !important;
        .hero-image-wrapper .hero-image {
          object-fit: cover;
          object-position: 0% 0%;
        }

        .display {
          font-size: 2.5rem;
        }
      }

      .swiper-button-prev, .swiper-button-next {
        display: none;
      }
    }
  }
  
