@use "globals" as *;
.toast {
    background-color: $white;
    overflow: hidden;
    .toast-success {
        border-top: 4px solid rgb(25, 181, 19);
        .material-icons {
            color: rgb(25, 181, 19);
        }
    }
    
    .toast-error {
        border-top: 4px solid #dc3545;
        .material-icons {
            color: #dc3545;
        }
    }
}

