@use "globals";
@use "header";
@use "footer";
@use "buttons";
@use "utilities/loading";
@use "utilities/devmode";
@use "toast";
@use "aos_custom";
@use "heroswiper";
@use "./pages/home";
@use "./pages/about";
@use "./pages/marketplace";
@use "./pages/blogs";
@use "./pages/blogCreate";
@use "./pages/contact";
@use "./pages/distributors";
@use "./pages/login";
@use "./pages/careers";
@use "./pages/jobportal";