@use "../globals" as *;
#about-hero, #about-hero-terms, #about-hero-copyright, #about-hero-privacy {
    .box-container {
        
        background: url('/images/about-hero-banner-background.webp')$primary-color-dark no-repeat center right/cover;

        h1 {
            font-size: 2.5rem;
            color: $white;
            font-weight: 700;
            padding-bottom: 1rem;
        }



        .video-container {
            display: flex;
            justify-content: end;
            align-items: end;
            padding: 1rem 0; 
            iframe {
                border-radius: 1rem;
                overflow: hidden;
            }
            @media (max-width: 1139px) {
                iframe {
                    border-radius: 1rem;
                    width: 100%;
                    height: 100%;
                    min-height: 350px;
                    overflow: hidden;
                }
            }

            @media (min-width: 1600px) {
                iframe {
                    border-radius: 1rem;
                    width: 90%;
                    height: 100%;
                    min-height: 400px;
                    overflow: hidden;
                }
            }

        }
    }
}

#why-nepal, #why-nepal-terms, #why-nepal-copyright, #why-nepal-privacy {
    .section-title {
        h1 {
            color: $primary-color;
        }
    }
    .about-why-nepal-images {
        .collage {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            .top-row, .bottom-row {
                                display: flex;
                gap: 0.75rem;
                                div {
                    border-radius: 1rem;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

        }
    }
    .why-nepal-list-group {
        .why-nepal-list-item {
            padding-bottom: 1rem;
            p {
                font-weight: 300;
                color: $text-color-light;
            }
            .content {
                h5 {
                    font-size: 1rem;
                }
                p {
                    font-size: 0.75rem;
                }
            }
        }
    }
}

#benefits-nepal {
    padding: 2rem 0 8.75rem 0;
        .section-title {
        h1 {
            color: $primary-color;
        }
    }
    .benefits-nepal-group {
        .benefits-nepal-group-item {
            padding: 0 1rem 1rem 0;
        }
    }
}

#meet-our-team {
    background-color: $primary-color-dark;
    color: $white;
    .founder {
        @media (max-width: 768px) {
            padding-bottom: 5rem;
        }
    }
    img {
        border-radius: 100%;
        object-fit: cover;
        width: 200px;
        height: 200px;
    }
    p {
        color: $white;
        font-weight: 200;
        text-align: center;
    }
}

#our-core-team {
    padding-bottom: 250px;
                .core-team-members-group {

                .team-member {
                    padding-bottom: 4rem;

    .card {
        border: none;
        overflow: hidden;
        .card-img-top {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
           img {
            border-radius: 100%;
            object-fit: cover;
           }
        }
        .card-body {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;
            h3 {
                font-size: 1.25rem;
                color: $primary-color;
                text-align: center;
            }
            p {
                color: $text-color-light;
                text-align: center;
            }


        }
    }
                    }
            }
}

#about-contact {
    background-color: $primary-color-dark;
    padding-bottom: 120px;
    .offset-container {
        margin-top: -300px;
    }
}