@use "../globals" as *;
#blogs-banner {
    .box-container {
        background: url('/images/blogs-hero-banner-background.webp')$primary-color-dark no-repeat center right/cover;
    }
}

#blogs-group {
    .card {
        max-width: 350px;
        border: 0;
        border-radius: 0;
        .card-img-top {
            height: 200px;
            overflow: hidden;
            border-radius: 8px;
            a {
                
                height: 100%;
                width: 100%;
                display: block;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: scale(1);
                    transition: all 0.5s ease-in-out;
                    position: absolute;
                    top: 0;
                    left: 0;
                    &:hover {
                        transform: scale(1.01);
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }

        .card-body {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 1rem 0;
            h2 {
                font-size: 1.25rem;
                font-weight: 400;
                color: $primary-color-dark;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                a {
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
           
            p {
                color: $text-color-light;
                font-weight: 300;
                line-clamp: 4;
                -webkit-line-clamp: 4;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        .card-footer {
            background-color: transparent;
            border :0;
            padding: 0;
            .author-profile {
                display: flex;
            gap: 8px;
            align-items: center;
            .author-name {
                font-size: 1rem;
                font-weight: 400;
                color: $primary-color;

                .date {
                    font-size: 0.75rem;
                    font-weight: 300;
                    color: $text-color-light;
                }

                // a {
                //     color: $text-color-light;
                //     &:hover {
                //         color: $primary-color;
                //     }
                // }
            }
            }
        }
    }
}
#blog-post{
        max-width: 70rem;
        margin: 0 auto;
    line-height: 1.5;
    .breadcrumb {
        a {
            color: $text-color;
        }
    }
}

.blog-post {
// border: 1px solid #000;
    p {
        margin-bottom: 1rem;
    }
    ul,ol {
        margin-bottom: 1rem;
        margin-left: 1.5rem;

        li {
            margin-bottom: 0.25rem;
        }
    }
    h1, h2, h3, h4 {
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.8rem;
    }
    .featured-image {
        width: 100%;
        height: auto;
        max-height: 550px;
        overflow: hidden;
        border-radius: 8px;
        margin-bottom: 1rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .author-info {
        .author-image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        border-bottom: 1px solid #ced4da;
        padding-bottom: 1rem;
    }
}

footer#blogs-footer, footer#privacy-footer, footer#terms-and-conditions-footer, footer#copyright-footer {
    padding-top: 72px;
}