@use "../globals" as *;
#blog-edit {
    background-color: #f5f5f5;
    
    #title {
        font-size: 2rem;
        font-weight: 700;
        border: 0;
        border-bottom: 1px solid #ced4da;
        background-color: transparent;
        width: 100%;
    }

    .image-uploader {
        width: 100%;
        height: auto;
        min-height: 350px;
        max-height: 450px;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        overflow: hidden;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        position: relative;
        display: flex;
        align-items: center;
        &:hover {
            background-color: #e2e6ea;
            
        }
        #previewImage {

            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 100%;
            cursor: pointer;
        }
    }

    .image-uploader-options {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000,0.7);
        color: #fff;
        transition: opacity 0.1s ease-in;

        .content {
            position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        i {
            font-size: 2rem;
            margin: 0 0.5rem
        }
        }

    }

    .img-uploader-table {
        width: 100%;
        overflow: hidden;
        tr {

            td {
                vertical-align: middle;
            }
            .td-fileName {
                a {
                    color: #007bff;
                    text-decoration: none;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }  
        }
    }

    .slate-editor-box {
           blockquote {
        margin: 1em 0;
        padding: 0.75em 1.25em;
        border-left: 4px solid #ccc;
        background-color: #f9f9f9;
        color: #555;
        font-style: italic;
        quotes: "“" "”" "‘" "’";
    }

    // blockquote::before {
    //     content: open-quote;
    // }

    // blockquote::after {
    //     content: close-quote;
    // }
    }
}