@use "../globals" as *;
#contact-hero {
    .box-container{
      background: url('/images/contact-hero-banner-background.webp')$primary-color-dark no-repeat center right/cover;
        color: $white;
        padding: 48px;
    }
}

#contact-us-page-form {

padding-top: 70px;
.company-detail {
    padding-right: 2rem;

          form.form-group {
            div {
              margin: 1rem 0;
  
              textarea {
                height: 150px;
              }
            }
          }

          @media (max-width: 768px) {
            padding-right: 0;
          }
        }

        .company-info {
            @media (max-width: 768px) {
                padding-top: 2rem;

                iframe {
                    max-width: 100%;
                    height: 300px;
                }
            }
        }
    }

footer#contact-us-footer {
    padding-top: 72px;
}