@use "../globals" as *;
#job-portal, #careers-portal {


    .jobs-content {
        margin-left: 300px;
        
        @media (max-width: 991.98px) {
            margin-left: 0;
        }
    }

    .job-search-container {
        border-bottom: 1px solid #ced4da;
        // position: sticky;
        // top: 54.59px;
        background-color: #fff;
        .job-search-input {
            padding: 0.5rem 1rem;
            border: 1px solid #ced4da;
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;
            width: 100%;
        }
        .job-search-btn {
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
            padding: 0 2rem;
            background-color: $primary-color;
            color: #fff;
            border: 0;
        }
    }

    .job-table {
        max-height: 100%;
    }

    .job-cta {
            .btn-sakchha-outline {
                    font-size: 0.9rem;
                    height: 40px;
                    &:hover {
                        background-color: $primary-color;
                    }
                }
            
                .btn-sakchha-primary {
                    background-color: #17BF3C;
                                        height: 40px;
                    font-size: 0.9rem;

                    &:hover {
                        background-color: #099928;
                    }
                }
    }
}

#job-sidenav {
border-right: 1px solid #ced4da;
    position: fixed;
    top: 56px;
    left: 0;
    height: 100vh;
    width: 300px;
    background-color: #fff;

    // Hide sidebar on medium and small screens
    @media (max-width: 991.98px) {
        display: none;
    }

    .btn {
        border-radius: 4px;
    }

    .navbar-nav {
        .nav-item {
            padding: 0.5rem 1rem;
            border: 1px solid #ced4da;
            border-right: 0;
            border-left: 0;
            border-bottom: 0;
        }

        .nav-item:last-child {
            border-bottom: 1px solid #ced4da;
        }
    }

}

#job-portal-apply-form {
    margin-left: 300px;
    padding: 1rem;
    
    @media (max-width: 991.98px) {
        margin-left: 0;
    }
}